@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Lora&family=Merriweather&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,700&family=Oxygen:wght@300;400;700&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Barlow Condensed', sans-serif;
    background-image: url("assets/home/background-home-desktop.jpg");
    background-color: black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    text-decoration: none;
    /* color: white; */
}


/* typography */
h1 {
    font-family: 'Bellefair', serif;
    font-weight: lighter;
    font-size: 150px;
    color: white;
}
h2 {
    font-family: 'Bellefair', serif;
    font-weight: lighter;
    font-size: 100px;
    color: white;
}
h3 {
    font-family: 'Bellefair', serif;
    font-weight: lighter;
    font-size: 56px;
    color: white;
    text-transform: uppercase;
}
h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}
h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: lighter;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4.75px;
}
.subheading-1 {
    font-family: 'Bellefair', serif;
    font-size: 24px;
    color: white;
}
.subheading-2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    color: #d0d6f9;
    letter-spacing: 2.35px;
}
.nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 2.7px;
}
.body-text {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 1.2rem;
}
.color {
    color: #d0d6f9;
}
/* end typography */


/* homepage */

/* navbar */
.navbar {
    width: 100%;
    height: 50px;
    position: relative;
}
.container {
    margin-top: 3%;
    margin-left: 4%;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vertical {
    border-top: 0.5px solid #d0d6f9;
    width: 40%;
    position: relative;
    left: 30px;
}
.navbar .container ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1px);
    padding-left: 5%;
    padding-right: 10%;
    width: 80%;
}
.navbar .container ul li {
    margin: 0 1%;
    padding: 0 1%;
}
.num {
    color: white;
}
.navlink {
    color: #d0d6f9;
    position: relative;
}
.navlink:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -15px;
    transition: 0.2s;
}
.active:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -15px;
}
.navlink:hover:after , .mt-links a:hover:after {
width: 100%;
}
.checkbtn {
    position: absolute;
    font-size: 30px;
    color: white;
    line-height: 70px;
    right: 0;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/* End navbar */


/* content */
#content {
    padding: 3% 10%;
}
.content-container {
    margin: 15% 10% 5%;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.content-container .texts {
    width: 50%;
}
.explore {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explore:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #0b0d17;
    border-radius: 100%;
    opacity: 0.2;
}
.explore:hover:after {
    width: 150px;
    height: 150px;
}
.explore p {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    color: black;
    font-weight: bold;
}
.pulse {
    animation: pulse 3s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
/* end content */
/* end homepage */



/* destination page */
.destination-body {
    font-family: 'Barlow Condensed', sans-serif;
    background-image: url("assets/destination/background-destination-desktop.jpg");
    background-color: black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* content */
.moon-content-container {
    margin: 5% 10%;
}
.moon-content-container h5 {
    padding-bottom: 2%;
}
.d0d6f9 {
    color: #d0d6f9;
    opacity: 0.4;
}
.moon-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    height: 400px;
    margin-top: 5%;
}
.moon-img {
    width: 300px;
    height: 300px;
    margin-left: 8%;
    margin-top: 4%;
}
.div {
    position: relative;
    width: 50%;
    height: 100%;
}
.mt-links {
    display: flex;
    height: 10%;
    align-items: center;
}
.mt-links a {
    margin-right: 20px;
    position: relative;
    text-transform: uppercase;
}
.destination-link:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
.des-active:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -10px;
}
.mt-container {
    height: 90%;
    position: relative;
}
.des-header {
    height: 30%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.des-body {
    height: 40%;
    display: flex;
    align-items: flex-start;
}
.des-hr {
    border: 1px solid #d0d7d0;
    width: 100%;
    margin: auto;
    opacity: 0.3;
}
.des-div {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.des-div div {
    width: 50%;
}
.sh-2-btm {
    margin: 0 0 10px;
}
/* end content */
/* end destination page */


/* crew page  */
.crew-body {
    font-family: 'Barlow Condensed', sans-serif;
    background-image: url("assets/crew/background-crew-desktop.jpg");
    background-color: black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* content  */
.crew-content-container {
    margin: 5% 5% 0;
    height: 560px;
    overflow: hidden;
}
.crew-flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.crew-div {
    height: 100%;
    width: 60%;
}
.crew-div > h5 {
    height: 20%;
}
.crew-div > h4 {
    height: 8%;
}
.crew-div > h3 {
    height: 15%;
}
.crew-div > p {
    height: 27%;
}
.btn-sliders {
    position: relative;
    top: 70%;
}
.fa-circle{
    font-size: 10px;
    margin-right: 10px;
    color: white;
    opacity: 0.4;
    cursor: pointer;
}
.fa-circle:hover {
    color: white;
    opacity: 1;
}
.crew-active {
    color: white;
    opacity: 1;
}
.crew-pic {
    height: 100%;
    width: 40%;
}
.reduce-fnts {
    font-size: 50px;
}

/* end content  */
/* end crew page  */


/* technology page  */
.technology-body {
    font-family: 'Barlow Condensed', sans-serif;
    background-image: url("assets/technology/background-technology-desktop.jpg");
    background-color: black;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}


/* technology content  */
.text-content-container {
    margin: 5% 0 0 10%;
}
.text-content-container > h5 > span {
    margin-right: 10px;
}
.text-content-container > div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    position: relative;
}
.tech-numbers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    font-size: 32px;
}
.tech-numbers > p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 50px;
    height: 50px;
    border: solid 1px white;
    border-radius: 50%;
    cursor: pointer;
}
.tech-active , .tech-numbers > p:hover {
    background-color: white;
    color: #0b0d17;
}
.information {
    display: flex;
}
.info-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    position: relative;
    margin-left: 30px;
    text-align: left;
}
.p1 {
    height: 7%;
    text-transform: uppercase;
    position: relative;
    bottom: 20px;
}
.info-text > h3 {
    position: relative;
    bottom: 20px;
}
.p2 {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
}
.info-img {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.info-img-1 {
    display: block;
}
.info-img-2 {
    display: none;
}
/* end technology content  */
/* technology ID's  */
#info-2 {
    display: none;
}
#info-3 {
    display: none;
}
/* end technology IS's  */
/* end technology page  */




/* media queries */
/* TABLET */
@media (max-width: 1140px) {
    body {
        background-image: url("assets/home/background-home-tablet.jpg");
        background-color: black;
    }
    /* typography */
    .head-1 {
        margin: 10% auto;
        font-size: 120px;
    }
    .head-5 {
        margin: 10% auto;
    }
    .text {
        margin: 10% auto;
        line-height: 2.5rem;
    }
    /* end typography */


    /* homepage */
    /* navbar */
    .navbar {
        width: 100%;
        height: 70px;
        position: relative;
    }
    .container {
        margin-top: 0;
        margin-left: 4%;
        height: 100%;
    }
    .vertical {
        display: none;
    }
    .navbar .container ul {
        padding: 0 7%;
        width: 60%;
    }
    .num {
        display: none;
    }
    .navlink {
        color: white;
    }
    .navlink:after {
        bottom: -25px;
    }
    .active:after {
        bottom: -25px;
    }
    /* end navbar */


    /* content */
    .content-container {
        margin: 15% 10% 5%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content-container .texts {
        width: 100%;
        text-align: center;
        margin-bottom: 20%;
    }

    /* end content */
    /* end homepage */


    /* destination page */
    .destination-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/destination/background-destination-tablet.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }


    /* content  */
    .moon-div{
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 700px;
        margin-top: 5%;
    }
    .moon-img {
        width: 250px;
        height: 250px;
        margin: 4% 0;
    }
    .div {
        width: 100%;
    }
    .mt-links {
        justify-content: center;
    }
    .mt-links a {
        margin: 0 10px;
    }
    .des-header {
        justify-content: center;
    }
    .des-body {
        text-align: center;
        letter-spacing: 2px;
    }
    .des-div {
        text-align: center;
        margin: auto;
    }
    .sh-2-btm {
        margin: 0 0 5px;
    }


    /* end content */
    /* destination page */



    /* crew page  */
    .crew-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/crew/background-crew-tablet.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }


    /* content  */
    .crew-content-container {
        margin: 5% 5% 0;
        height: 950px;
        overflow: hidden;
    }
    .crew-flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .crew-div {
        width: 100%;
    }
    .crew-div > h5 {
        font-size: 20px;
        letter-spacing: 3.38px;
    }
    .crew-div > h4 {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }
    .crew-div > h3 {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    .crew-div > p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 15%;
    }
    .btn-sliders {
        top: 45%;
        display: flex;
        justify-content: center;
    }
    .crew-pic {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    #specialist-pic {
        max-height: 50%;
    }
    /* end content  */
    /* end crew page  */

    /* technology page  */
    .technology-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/technology/background-technology-tablet.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }


    /* technology content  */
    .text-content-container {
        margin: 0;
    }
    .text-content-container > h5 {
        margin: 3% 5% 5%;
    }
    .text-content-container > div {
        flex-direction: column-reverse;
        justify-content: start;
        width: 100%;
        height: 600px;
        bottom: 20px;
    }
    .tech-numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10%;
        font-size: 32px;
        position: relative;
        bottom: 30%;
    }
    .tech-numbers > p {
        margin: 0 1%;
    }
    .information {
        flex-direction: column-reverse;
        align-items: center;
    }
    .info-text {
        flex-direction: column;
        width: 80%;
        height: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        text-align: center;
        top: 30%;
    }
    .p1 {
        height: 19%;
    }
    .info-text > h3 {
        font-size: 40px ;
    }
    .p2 {
        width: 100%;
    }
    .info-img {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .info-img-1 {
        display: none;
    }
    .info-img-2 {
        display: block;
        width: 100%;
        z-index: -1;
    }
    /* end tecnology content  */
    /* end technology page  */
}


/* phones */
@media (max-width: 600px) {
    body {
        background-image: url("assets/home/background-home-mobile.jpg");
        background-color: black;
    }
    /* typography */
    .head-1 {
        margin: 10% auto;
        font-size: 50px;
    }
    .head-5 {
        margin: 10% auto;
        font-size: 25px;
    }
    .text {
        margin: 10% auto;
        line-height: 1.5rem;
    }
    /* homepage */
    /* navbar */
    .navbar {
        width: 100%;
        height: 50px;
        position: relative;
    }
    .container {
        margin-top: 3%;
        margin-left: 4%;
        height: 100%;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .container ul {
        position: relative;
        top: 39vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 2%;
        width: 60%;
        display: none;
        z-index: 1;
        backdrop-filter: blur(3px);
    }
    .navbar .container ul li {
        margin: 4% 0;
        padding: 4% 0;
        display: flex;
        justify-content: center;
        position: relative;
        top: 45px;
    }
    .navlink {
        color: white;
    }
    .navlink:after {
        bottom: -5px;
    }
    .active:after {
        bottom: -5px;
    }
    .checkbtn {
        display: block;
        color: #d0d6f9;
        z-index: 2;
    }
    /* end navbar */

    /* end homepage */


    /* destination page */
    .destination-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/destination/background-destination-mobile.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }


    /* content  */
    .moon-content-container h5 {
        text-align: center;
        font-size: 16px;
    }
    .moon-div{
        flex-direction: column;
        align-items: center;
        height: 1000px;
        margin-top: 5%;
    }
    .moon-img {
        width: 200px;
        height: 200px;
        margin: 4% 0;
    }
    .div {
        width: 90%;
    }
    .mt-links a {
        margin: 0 5px;
    }
    .des-header {
        height: 20%;
        font-size: 40px;
    }
    .des-body {
        height: 45%;
        letter-spacing: 2px;
    }
    .des-div {
        height: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .sh-2-btm {
        margin: 10 0;
    }
    
    
    /* end content  */
    /* end destination page */


    /* crew page  */
    .crew-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/crew/background-crew-mobile.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }
    /* content  */
    .crew-content-container {
        margin: 5% 5% 0;
        height: 800px;
        overflow: hidden;
    }
    .crew-flex {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .crew-div {
        height: 60%;
        width: 100%;
    }
    .crew-div > h5 {
        position: relative;
        bottom: 300px;
        display: flex;
        justify-content: center;
        z-index: -1;
    }
    .crew-div h5 span {
        margin-right: 20px;
    }
    .crew-div > h4 {
        font-size: 15px;
        align-items: center;
    }
    .crew-div > h3 {
        font-size: 25px;
        align-items: center;
    }
    .crew-div > p {
        height: 40%;
    }
    .btn-sliders {
        top: 45%;
        display: flex;
        justify-content: center;
    }
    .fa-circle{
        font-size: 10px;
        margin-right: 10px;
        color: white;
        opacity: 0.4;
        cursor: pointer;
    }
    .fa-circle:hover {
        color: white;
        opacity: 1;
    }
    .crew-active {
        color: white;
        opacity: 1;
    }
    .crew-pic {
        width: 50%;
        height: 30%;
        position: relative;
        top: 10%;
    }
    .reduce-fnts {
        font-size: 50px;
    }

    /* end content  */
    /* end crew page  */

    /* technology page  */
    .technology-body {
        font-family: 'Barlow Condensed', sans-serif;
        background-image: url("assets/technology/background-technology-mobile.jpg");
        background-color: black;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
    }


    /* technology content  */
    .text-content-container > div {
        bottom: 0;
    }
    .text-content-container > h5 {
        font-size: 20px;
    }
    .tech-numbers {
        position: relative;
        bottom: 45%;
    }
    .tech-numbers > p {
        margin: 0 1%;
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
    .info-text {
        max-width: 500px;
        height: 100%;
        top: 35%;
    }
    .p1 {
        height: 9%;
        font-size: 14px;
        letter-spacing: 2.36px;
    }
    .info-text > h3 {
        font-size: 24px ;
    }
    .p2 {
        width: 90%;
        height: 70%;
        line-height: 1.5;
    }
    .info-img {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    .info-img-1 {
        display: none;
    }
    .info-img-2 {
        display: block;
        width: 100%;
    }
    /* end technology content  */
    /* end technology page  */
}
